<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script type="text/javascript" src="/KindEditor/kindeditor-min.js"></script>
	<script type="text/javascript" src="/KindEditor/lang/zh_CN.js"></script>
	<script type="text/javascript">
	var editor;

	// 自定义编辑器功能
	KindEditor.ready(function(K){
		editor = K.create('textarea', {
			allowImageUpload: false,
			items:[
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
			'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link'
			]
		});
	});

	// 默认编辑器功能
	// KindEditor.ready(function(){
	// 	editor = K.create('#kindeditor');
	// });
	</script>
</head>
<body>
	<header>
		<h1><%= title%></h1>
	</header>
	<span>
		<form action="/search" method="GET">
			<input type="text" name="keyword" placeholder="SEARCH" class="search" />
		</form>
	</span>
	<nav>
		<span><a title="主页" href="/">主页</a></span>
		<span><a title="存档" href="/archive">存档</a></span>
		<span><a title="标签" href="/tags">标签</a></span>
		<span><a title="友情链接" href="/links">友情链接</a></span>
		<% if(user) {%>
		<span><a title="上传" href="/upload">上传</a></span>
		<span><a title="发表" href="/post">发表</a></span>
		<span><a title="登出" href="/logout">退出</a></span>
		<% }else{ %>
		<span><a title="登录" href="/login">登录</a></span>
		<span><a title="注册" href="/reg">注册</a></span>
		<% } %>
		<span><a title="收藏" href="/collection">我的收藏</a></span>
		<span><a href='javascript:(function(x,a,v,m,t){var f="",c=[],j=/http.+png|http.+jpg|http.+gif|http.+svg|http.+jpeg|http.+BMP|data/g,b=x.getElementsByTagName("meta"),y=x.getElementsByTagName("img"),l=x.getElementsByTagName("a");for(var s=0;s<b.length;s++){if(b[s].name.toLowerCase()=="description"){f=b[s].content}}for(var s=0;s<y.length;s++){if(y[s].src.toLowerCase().indexOf("logo")>0){c.push(y[s].src)}}for(var s=0;s<l.length;s++){var o=l[s].getElementsByTagName("img");if((" "+l[s].className+" ").toLowerCase().indexOf("logo")>-1){if(o.length>0){c.push(o[0].src)}else{if(l[s].currentStyle){var p=l[s].currentStyle.backgroundImage;var k=l[s].parentNode.currentStyle.backgroundImage;if(p!="none"){p=p.match(j)[0];if(p!="data"){c.push(p)}}else{if(k!="none"){k=k.match(j)[0];if(k!="data"){c.push(k)}}}}else{var p=getComputedStyle(l[s],false)["backgroundImage"];var k=getComputedStyle(l[s].parentNode,false)["backgroundImage"];if(p!="none"){p=p.match(j)[0];if(p!="data"){c.push(p)}}else{if(k!="none"){k=k.match(j)[0];if(k!="data"){c.push(k)}}}}}}else{if((" "+l[s].parentNode.className+" ").toLowerCase().indexOf("logo")>-1){if(o.length>0){c.push(o[0].src)}else{if(l[s].currentStyle){var k=l[s].parentNode.currentStyle.backgroundImage;var p=l[s].currentStyle.backgroundImage;if(k!="none"){k=k.match(j)[0];if(k!="data"){c.push(k)}}else{if(p!="none"){p=p.match(j)[0];if(p!="data"){c.push(p)}}}}else{var k=getComputedStyle(l[s].parentNode,false)["backgroundImage"];var p=getComputedStyle(l[s],false)["backgroundImage"];if(k!="none"){k=k.match(j)[0];if(k!="data"){c.push(k)}}else{if(p!="none"){p=p.match(j)[0];if(p!="data"){c.push(p)}}}}}}}}var q=[],g={};for(var s=0,u;(u=c[s])!=null;s++){if(!g[u]){q.push(u);g[u]=true}}var n="http://192.168.1.101:3000/reptile?url="+v(location.href)+"&name="+v(x.title)+"&description="+v(f);if(!window.open(n,"36zhen","toolbar=0,resizable=1,scrollbars=yes,status=1,width="+m+",height="+t+",left="+(a.width-m)/2+",top="+(a.height-t)/2)){window.location.href=n}})(document,screen,encodeURIComponent,700,500);'>❤️书签</a></span>
	</nav>
	<article>
	<% if(success){ %>
	<div><%= success %></div>
	<% } %>
	<% if(error){ %>
	<div><%= error %></div>
	<% } %>